<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Formulário enviado!</title>
	</head>
	<body>
		<div id="ficha" class="">
			<center>
				<h3 style="color: green">
				<p>
					<b>Prezado Visitante,
						O CICEBRIS agradece  o preenchimento do formulário, porém para finalizar o processo entre em contato com os telefones abaixo:
					</b>
				</p>
				<br>
				+55 (98) 3237-1685<br>
				-- <br>
				+55 (98) 98256-3522 (Tim)<br>
				+55 (98) 98402-7735 (Claro)<br></p>
				<hr>
			</h3>
			<a href="http://estrelabrilhante.org/"> << voltar </a>
			<br>
			</center>
		</div>

	</body>
</html>
