<div class="text-center">
<!-- ESPIRITUALIDADE -->
	<fieldset>
		<h2 class="fs-title">Espiritualidade</h2>
		<h3 class="fs-subtitle">Etapa 3 de 3</h3>
		<hr>

		<!-- Form Name -->
		<!-- Select Basic -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="consagrou">Você consagrou o Daime alguma vez?</label>
				  <div class="col-md-2">
				    <select id="consagrou" name="consagrou" ng-model="formData.consagrou" class="form-control">
				      <option value="Sim">Sim</option>
				      <option value="Não">Não</option>
				    </select>
				  </div>
				</div>

				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="ondecomquem">Onde? Com quem?</label>
				  <div class="col-md-6">
				  <input id="ondecomquem" name="ondecomquem" ng-model="formData.ondecomquem" type="text" placeholder="" class="form-control input-md">
				  </div>
				</div>

				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="relateexperiencia">Relate a Experiência</label>
				  <div class="col-md-4">
				    <textarea class="form-control" id="relateexperiencia" name="relateexperiencia" ng-model="formData.relateexperiencia"></textarea>
				  </div>
				</div>

				<!-- Select Basic -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="religiao">Você atualmente é adepto de alguma religião?</label>
				  <div class="col-md-2">
				    <select id="religiao" name="religiao" ng-model="formData.religiao" class="form-control">
				      <option value="Sim">Sim</option>
				      <option value="Não">Não</option>
				    </select>
				  </div>
				</div>

				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="qualreligiao">Qual?</label>
				  <div class="col-md-4">
				  <input id="qualreligiao" name="qualreligiao" ng-model="formData.qualreligiao" type="text" placeholder="" class="form-control input-md">

				  </div>
				</div>

				<!-- Textarea -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="praticareligiosa">O que busca em sua prática religiosa?</label>
				  <div class="col-md-4">
				    <textarea class="form-control" id="praticareligiosa" name="praticareligiosa" ng-model="formData.praticareligiosa"></textarea>
				  </div>
				</div>

				<!-- Select Basic -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="experienciaespiritual">Segundo seus próprios critérios, já teve alguma experiência espiritual marcante?</label>
				  <div class="col-md-2">
				    <select id="experienciaespiritual" name="experienciaespiritual" ng-model="formData.experienciaespiritual" class="form-control">
				      <option value="Sim">Sim</option>
				      <option value="Não">Não</option>
				    </select>
				  </div>
				</div>

				<!-- Textarea -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="comofoi">Como foi?</label>
				  <div class="col-md-4">
				    <textarea class="form-control" id="comofoi" name="comofoi" ng-model="formData.comofoi"></textarea>
				  </div>
				</div>

				<!-- Select Basic -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="espiritualajuda">Você acredita que o desenvolvimento espiritual possa lhe ajudar?</label>
				  <div class="col-md-2">
				    <select id="espiritualajuda" name="espiritualajuda" ng-model="formData.espiritualajuda" class="form-control">
				      <option value="Sim">Sim</option>
				      <option value="Não">Não</option>
				    </select>
				  </div>
				</div>

				<!-- Textarea -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="emque">Em que?</label>
				  <div class="col-md-4">
				    <textarea class="form-control" id="emque" name="emque" ng-model="formData.emque"></textarea>
				  </div>
				</div>

				<!-- Textarea -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="comosoube">Como soube do Santo Daime?</label>
				  <div class="col-md-4">
				    <textarea class="form-control" id="comosoube" name="comosoube" ng-model="formData.comosoube"></textarea>
				  </div>
				</div>

				<!-- Select Basic -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="daimeutil">Acredita que o Santo Daime possa ser útil a você?</label>
				  <div class="col-md-2">
				    <select id="daimeutil" name="daimeutil" ng-model="formData.daimeutil" class="form-control">
				      <option value="Sim">Sim</option>
				      <option value="Não">Não</option>
				    </select>
				  </div>
				</div>

				<!-- Textarea -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="porque">Por quê?</label>
				  <div class="col-md-4">
				    <textarea class="form-control" id="porque" name="porque" ng-model="formData.porque"></textarea>
				  </div>
				</div>

	</fieldset>
<!-- /ESPIRITUALIDADE -->

<hr>
<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.termo" class="btn btn-block btn-info">
    Próximo <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>


</div>
