<div class="text-center">
<!-- fieldsets -->
<fieldset>

<!-- Form Name -->
  <h3>Dados Pessoais</h3>
  <hr>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="nome">Nome Completo</label>
      <div class="col-md-8">
      <input id="nome" name="nome" type="text" placeholder="" class="form-control input-md" required="required">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="datanascimento">Data de Nascimento</label>
      <div class="col-md-4">
      <input id="datanascimento" name="datanascimento" type="date" min="31-12-1910" placeholder="dd/mm/aaaa" class="form-control input-md" required="required">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="filiacao">Filiação</label>
      <div class="col-md-8">
      <input id="filiacao" name="filiacao" type="text" placeholder="Nome do Pai e da Mãe completo" class="form-control input-md" required="required">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="identidade">RG</label>
      <div class="col-md-5">
      <input id="identidade" name="identidade" type="text" placeholder="99.999.999-9" class="form-control input-md" required="required">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="orgao">Orgão Expedidor</label>
      <div class="col-md-2">
      <input id="orgao" name="orgao" type="text" placeholder="" class="form-control input-md" required="required">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="naturalidade">Naturalidade</label>
      <div class="col-md-4">
      <input id="naturalidade" name="naturalidade" type="text" placeholder="local de nascimento(cidade/estado)" class="form-control input-md" required="required">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="nacionalidade">Nacionalidade</label>
      <div class="col-md-4">
      <input id="nacionalidade" name="nacionalidade" type="text" placeholder="País de origem" class="form-control input-md" required="required">
      </div>
    </div>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="escolaridade">Escolaridade</label>
      <div class="col-md-6">
        <select id="escolaridade" name="escolaridade" class="form-control">
          <option value="Ensino fundamental incompleto">Ensino fundamental incompleto</option>
          <option value="Ensino fundamental completo">Ensino fundamental completo</option>
          <option value="Ensino médio incompleto">Ensino médio incompleto</option>
          <option value="Ensino médio completo">Ensino médio completo</option>
          <option value="Ensino superior incompleto">Ensino superior incompleto</option>
          <option value="Ensino superior completo">Ensino superior completo</option>
          <option value="Pós-graduação">Pós-graduação</option>
        </select>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="fone">Telefone ou Celular</label>
      <div class="col-md-4">
      <input id="fone" name="fone" type="text" placeholder="" class="form-control input-md" required="required">
      <span class="help-block">Informe número do Telefone fixo ou Celular com ddd</span>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="email">E-mail</label>
      <div class="col-md-5">
      <input id="email" name="email" type="text" placeholder="email@mail.com" class="form-control input-md" required="required">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="endereco">Endereço</label>
      <div class="col-md-8">
      <input id="endereco" name="endereco" type="text" placeholder="ex: Rua X Bairro Y nº00 Quadra - 00" class="form-control input-md" required="required">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="bairro">Bairro</label>
      <div class="col-md-4">
      <input id="bairro" name="bairro" type="text" class="form-control input-md" required="required">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="cidade">Cidade/Estado</label>
      <div class="col-md-4">
      <input id="cidade" name="cidade" type="text" placeholder="ex.: São Luís-MA" class="form-control input-md" required="required">
      </div>
    </div>

    <br />
    <h3>Vida Familiar</h3>
    <hr>

    <br />

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="estadocivil">Estado Civil</label>
      <div class="col-md-4">
        <select id="estadocivil" name="estadocivil" class="form-control">
          <option value="Solteiro(a)">Solteiro(a)</option>
          <option value="Casado(a)">Casado(a)</option>
          <option value="Divorciado(a)">Divorciado(a)</option>
          <option value="Viúvo(a)">Viúvo(a)</option>
        </select>
      </div>
    </div>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="filhos">Possui filhos?</label>
      <div class="col-md-4">
        <select id="filhos" name="filhos" class="form-control">
          <option value="Sim">Sim</option>
          <option value="Não">Não</option>
        </select>
      </div>
    </div>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="filhos">Mora com:</label>
      <div class="col-md-4">
        <select id="mora_com" name="mora_com" class="form-control">
          <option value="Sozinho">Sozinho</option>
          <option value="Pais">Pais</option>
          <option value="Conjugue">Conjugue</option>
          <option value="Familia">Família</option>
          <option value="Parentes">Parentes</option>
        </select>
      </div>
    </div>

    <br />
    <h3>Vida Profissional</h3>
    <hr>

    <br />

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="ocupacao">Qual sua ocupação?</label>
      <div class="col-md-5">
      <input id="ocupacao" name="ocupacao" type="text" placeholder="ex: Professor" class="form-control input-md" required="required">
      <span class="help-block">Com o que você trabalha?</span>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="empresa">Empresa/ Repartição</label>
      <div class="col-md-5">
      <input id="empresa" name="empresa" type="text" placeholder="" class="form-control input-md" required="required">

      </div>
    </div>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="gostadoquefaz">Você gosta do que faz?</label>
      <div class="col-md-2">
        <select required id="gostadoquefaz" name="gostadoquefaz" class="form-control">
          <option value="Sim">Sim</option>
          <option value="Não">Não</option>
        </select>
      </div>
    </div>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="estabilidade">Você se sente estável no seu trabalho?</label>
      <div class="col-md-2">
        <select required id="estabilidade" name="estabilidade" class="form-control">
          <option value="Sim">Sim</option>
          <option value="Não">Não</option>
        </select>
      </div>
    </div>

    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="atividades">Outras Atividades</label>
      <div class="col-md-8">
        <textarea class="form-control" id="atividades" name="atividades"></textarea>
      </div>
    </div>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="antecedentes">Você tem antecedentes criminais?</label>
      <div class="col-md-2">
        <select required id="antecedentes" name="antecedentes" class="form-control">
          <option value="Sim">Sim</option>
          <option value="Não">Não</option>
        </select>
      </div>
    </div>

    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="relate">Relate o fato:</label>
      <div class="col-md-8">
        <textarea class="form-control" id="relate" name="relate"></textarea>
      </div>
    </div>
</fieldset>

<hr>
<!-- FIM DADOS PESSOAIS -->
<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.saude" class="btn btn-block btn-info">
    Próximo <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>

</div>
