<div class="text-center">
  <!-- TERMO DE RESPONSABILIDADE -->

    <fieldset>
        <h2 class="fs-title">TERMO DE RESPONSABILIDADE</h2>
        <hr>
        <div class="form-group">
          <p class="text-center"><b>Eu, abaixo assinado, venho de livre e espontânea vontade solicitar o ingresso
            às sessões espirituais com o Santo Daime, no CENTRO DE ILUMINAÇÃO
            CRISTÃ ESTRELA BRILHANTE RAIMUNDO IRINEU SERRA-CICEBRIS.
            Declaro que participei da reunião, onde tomei ciência da natureza
            destes trabalhos, bem como da preparação exigida, dos detalhes do ritual e da
            condição expressa de permanecer na igreja até o fechamento dos trabalhos,
            assim como da proibição de portar ou usar quaisquer substâncias proscritas
            pela lei penal brasileira, bebidas alcoólicas, armas brancas ou de fogo. Declaro
            também que obedecerei a todas as determinações dos fiscais e do diretor dos
            trabalhos, que contribuirei para os custos de obtenção do Santo Daime e da
            manutenção da igreja (fixados na secretaria).</b></p><br />

            <p>Paço do Lumiar,  angulardate </p>

              <label class="col-md-4 control-label" for="checkboxes"><input type="checkbox" name="checkboxes" id="checkboxes-0" value="concordo"></label>
                <div class="col-md-4">
                <label for="checkboxes-0">Li Concordo com o Termo de Responsabilidade.</label>
                </div>
        </div>

      </fieldset>

    <button type="submit" class="btn btn-success">Enviar</button>
</div>
<br>
