<div class="text-center">
<!-- SAÚDE E COMPORTAMENTO -->
	<fieldset>
		<h2 class="fs-title">Saúde e Comportamento</h2>
		<h3 class="fs-subtitle">Etapa 2 de 3</h3>
		<hr>

		<!-- Form Name -->

				<!-- Select Basic -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="doencagrave">Você já teve alguma doença grave?</label>
				  <div class="col-md-2">
				    <select id="doencagrave" name="doencagrave" class="form-control">
				      <option value="Sim">Sim</option>
				      <option value="Não">Não</option>
				    </select>
				  </div>
				</div>

				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="qualdoenca">Qual / Quando?</label>
				  <div class="col-md-5">
				  <input id="qualdoenca" name="qualdoenca" type="text" placeholder="" class="form-control input-md" >

				  </div>
				</div>

				<!-- Select Basic -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="cirurgia">Já fez alguma cirurgia?</label>
				  <div class="col-md-2">
				    <select id="cirurgia" name="cirurgia" class="form-control">
				      <option value="Sim">Sim</option>
				      <option value="Não">Não</option>
				    </select>
				  </div>
				</div>

				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="qualcirurgia">Qual / Quando?</label>
				  <div class="col-md-5">
				  <input id="qualcirurgia" name="qualcirurgia" type="text" placeholder="" class="form-control input-md">

				  </div>
				</div>

				<!-- Select Basic -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="problemasaude">Atualmente, tem algum problema de saúde?</label>
				  <div class="col-md-2">
				    <select id="problemasaude" name="problemasaude" class="form-control">
				      <option value="Sim">Sim</option>
				      <option value="Não">Não</option>
				    </select>
				  </div>
				</div>

				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="qualproblemasaude">Qual?</label>
				  <div class="col-md-4">
				  <input id="qualproblemasaude" name="qualproblemasaude" type="text" placeholder="" class="form-control input-md">

				  </div>
				</div>

				<!-- Select Basic -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="tratamento">Está fazendo algum tipo de tratamento?</label>
				  <div class="col-md-2">
				    <select id="tratamento" name="tratamento" class="form-control">
				      <option value="Sim">Sim</option>
				      <option value="Não">Não</option>
				    </select>
				  </div>
				</div>

				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="qualtratamento">Qual?</label>
				  <div class="col-md-4">
				  <input id="qualtratamento" name="qualtratamento" type="text" placeholder="" class="form-control input-md">

				  </div>
				</div>

				<!-- Select Basic -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="remedio">Toma algum tipo de remédio?</label>
				  <div class="col-md-2">
				    <select id="remedio" name="remedio" class="form-control">
				      <option value="Sim">Sim</option>
				      <option value="Não">Não</option>
				    </select>
				  </div>
				</div>

				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="qualremedio">Qual?</label>
				  <div class="col-md-5">
				  <input id="qualremedio" name="qualremedio" type="text" placeholder="" class="form-control input-md">

				  </div>
				</div>

				<!-- Select Basic -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="bebidaalcoolica">Faz uso de bebida alcoólica?</label>
				  <div class="col-md-2">
				    <select id="bebidaalcoolica" name="bebidaalcoolica" class="form-control">
				      <option value="Sim">Sim</option>
				      <option value="Não">Não</option>
				    </select>
				  </div>
				</div>

				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="frequenciabebida">Com que freqüência?</label>
				  <div class="col-md-4">
				  <input id="frequenciabebida" name="frequenciabebida" type="text" placeholder="" class="form-control input-md">

				  </div>
				</div>

				<!-- Select Basic -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="drogailicita">Você consome ou já consumiu algum tipo de droga ilícita?</label>
				  <div class="col-md-2">
				    <select id="drogailicita" name="drogailicita" class="form-control">
				      <option value="Sim">Sim</option>
				      <option value="Não">Não</option>
				    </select>
				  </div>
				</div>

				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="qualdroga">Qual? Com que freqüência?</label>
				  <div class="col-md-5">
				  <input id="qualdroga" name="qualdroga" type="text" placeholder="" class="form-control input-md">

				  </div>
				</div>

				<!-- Select Basic -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="drogapreju">Você acha que seu uso de bebida ou droga trouxe prejuízos à sua vida?</label>
				  <div class="col-md-2">
				    <select id="drogapreju" name="drogapreju" class="form-control">
				      <option value="Sim">Sim</option>
				      <option value="Não">Não</option>
				    </select>
				  </div>
				</div>

				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="qualpreju">Quais?</label>
				  <div class="col-md-5">
				  <input id="qualpreju" name="qualpreju" type="text" placeholder="" class="form-control input-md">

				  </div>
				</div>

				<!-- Select Basic -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="controleuso">Já sentiu dificuldade em controlar este uso de bebida ou droga?</label>
				  <div class="col-md-2">
				    <select id="controleuso" name="controleuso" class="form-control">
				      <option value="Sim">Sim</option>
				      <option value="Não">Não</option>
				    </select>
				  </div>
				</div>

				<!-- Textarea -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="comentecontroleuso">Comente:</label>
				  <div class="col-md-4">
				    <textarea class="form-control" id="comentecontroleuso" name="comentecontroleuso"></textarea>
				  </div>
				</div>

				<!-- Select Basic -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="maniaperseguido">Você já teve a sensação de estar sendo perseguido ou já se sentiu ameaçado por alguém?</label>
				  <div class="col-md-2">
				    <select id="maniaperseguido" name="maniaperseguido" class="form-control">
				      <option value="Sim">Sim</option>
				      <option value="Não">Não</option>
				    </select>
				  </div>
				</div>

				<!-- Textarea -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="comentemania">Comente:</label>
				  <div class="col-md-4">
				    <textarea class="form-control" id="comentemania" name="comentemania"></textarea>
				  </div>
				</div>

				<!-- Select Basic -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="dificuldadeordenar">Você já teve a sensação de não conseguir ordenar seus pensamentos por horas ou dias?</label>
				  <div class="col-md-2">
				    <select id="dificuldadeordenar" name="dificuldadeordenar" class="form-control">
				      <option value="Sim">Sim</option>
				      <option value="Não">Não</option>
				    </select>
				  </div>
				</div>

				<!-- Textarea -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="comentedificuldade">Comente:</label>
				  <div class="col-md-4">
				    <textarea class="form-control" id="comentedificuldade" name="comentedificuldade"></textarea>
				  </div>
				</div>

				<!-- Select Basic -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="pensamentoacelerado">Você já viveu alguma situação em que seus pensamentos estavam muito acelerados, que você não conseguia acompanhá-los?</label>
				  <div class="col-md-2">
				    <select id="pensamentoacelerado" name="pensamentoacelerado" class="form-control">
				      <option value="Sim">Sim</option>
				      <option value="Não">Não</option>
				    </select>
				  </div>
				</div>

				<!-- Textarea -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="comentepensamento">Comente:</label>
				  <div class="col-md-4">
				    <textarea class="form-control" id="comentepensamento" name="comentepensamento"></textarea>
				  </div>
				</div>

				<!-- Select Basic -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="internado">Já foi internado em alguma instituição psiquiátrica?</label>
				  <div class="col-md-2">
				    <select id="internado" name="internado" class="form-control">
				      <option value="Sim">Sim</option>
				      <option value="Não">Não</option>
				    </select>
				  </div>
				</div>

				<!-- Textarea -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="internacaomotivo">Onde? Qual motivo?</label>
				  <div class="col-md-4">
				    <textarea class="form-control" id="internacaomotivo" name="internacaomotivo"></textarea>
				  </div>
				</div>
				</div>
	</fieldset>
<!-- FIM SAÚDE E COMPORTAMENTO -->
<hr>
<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.espiritualidade" class="btn btn-block btn-info">
    Próximo <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>


</div>
