<!-- INICIO CALENDÀRIO -->
<div class="container">
<h1 class="text-center">Calendário {{ ano | date : "y" }}</h1><br>
<hr><br>


            <div>
            <h3 class="text-center customheader">JANEIRO</h3>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            DATA
                        </th>
                        <th>
                            DURAÇÃO
                        </th>
                        <th>
                            TRABALHO
                        </th>
                        <th>
                            DESCRIÇÃO
                        </th>
                        <th>
                            FARDA
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            05/01/15 - SEG
                        </td>
                        <td>
                            10H00
                        </td>
                        <td>
                            Reis - Entrega dos Trabalhos
                        </td>
                        <td>
                            Neste dia, faz-se Bailado, cantando o hinário "Cruzeiro Universal" e "Hinos Novos" do Mestre Irineu Serra, o "Tesouro" do Pad. Daniel Serra. Canta-se, no encerramento do trabalho o Hino N° 25 "Oferecimento" do "Cruzeiro Universal"; daí faz-se o ritual da entrega dos Trabalhos.
                        </td>
                        <td>
                            Branca
                        </td>
                    </tr>
                    <tr class>
                        <td>
                            15/01/15 - QUI
                        </td>
                        <td>
                            3H30
                        </td>
                        <td>
                            Concentração
                        </td>
                        <td>
                            Execução de sequências de 21 hinos, sentados ao redor da mesa. Faz-se uma pausa de pelo menos 1 hora na sequencia de hinos para a prática da concentração, feita de luz apagada e em completo silêncio.
                        </td>
                        <td>
                            Azul
                        </td>
                    </tr>
                    <tr class>
                        <td>
                            30/01/15 - SEX
                        </td>
                        <td>
                            3H30
                        </td>
                        <td>
                            Concentração
                        </td>
                        <td>
                            Execução de sequências de 21 hinos, sentados ao redor da mesa. Faz-se uma pausa de pelo menos 1 hora na sequencia de hinos para a prática da concentração, feita de luz apagada e em completo silêncio.
                        </td>
                        <td>
                            Azul
                        </td>
                    </tr>

                </tbody>
            </table>


            </div>

                       <div>
            <h3 class="text-center customheader">FEVEREIRO</h3>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            DATA
                        </th>
                        <th>
                            DURAÇÃO
                        </th>
                        <th>
                            TRABALHO
                        </th>
                        <th>
                            DESCRIÇÃO
                        </th>
                        <th>
                            FARDA
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            15/02/15 - DOM
                        </td>
                        <td>
                            3H30
                        </td>
                        <td>
                            Concentração
                        </td>
                        <td>
                            Execução de sequências de 21 hinos, sentados ao redor da mesa. Faz-se uma pausa de pelo menos 1 hora na sequencia de hinos para a prática da concentração, feita de luz apagada e em completo silêncio.
                        </td>
                        <td>
                            Azul
                        </td>
                    </tr>
                    </tr>

                </tbody>
            </table>



            </div>

            <div>
            <h3 class="text-center customheader">MARÇO</h3>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            DATA
                        </th>
                        <th>
                            DURAÇÃO
                        </th>
                        <th>
                            TRABALHO
                        </th>
                        <th>
                            DESCRIÇÃO
                        </th>
                        <th>
                            FARDA
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            15/03
                        </td>
                        <td>
                            3H30
                        </td>
                        <td>
                            Concentração
                        </td>
                        <td>
                            Execução de sequências de 21 hinos, sentados ao redor da mesa. Faz-se uma pausa de pelo menos 1 hora na sequencia de hinos para a prática da concentração, feita de luz apagada e em completo silêncio.
                        </td>
                        <td>
                            Azul
                        </td>
                    </tr>
                    <tr class>
                        <td>
                            19/03
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                        INICIO DO FESTIVAL. CONFIRA <a href="profest.html"> AQUI </a> A PROGRAMAÇÃO.
                        </td>
                        <td></td>

                    </tr>
                    <tr class>
                        <td>
                            30/03
                        </td>
                        <td>
                            3H30
                        </td>
                        <td>
                            Concentração
                        </td>
                        <td>
                            Execução de sequências de 21 hinos, sentados ao redor da mesa. Faz-se uma pausa de pelo menos 1 hora na sequencia de hinos para a prática da concentração, feita de luz apagada e em completo silêncio.
                        </td>
                        <td>
                            Azul
                        </td>
                    </tr>

                </tbody>
            </table>



            </div>

            </div>

            <div>
            <h3 class="text-center customheader">ABRIL</h3>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            DATA
                        </th>
                        <th>
                            DURAÇÃO
                        </th>
                        <th>
                            TRABALHO
                        </th>
                        <th>
                            DESCRIÇÃO
                        </th>
                        <th>
                            FARDA
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="success">
                        <td>
                            03/04
                        </td>
                        <td>
                            6H00
                        </td>
                        <td>
                            Sexta Feira Santa (realizado de quinta para sexta)
                        </td>
                        <td>
                            Executa-se hinário de dois Companheiros em sequência, definido pela direção da Casa.
                        </td>
                        <td>
                            Azul
                        </td>
                    </tr>
                    <tr class>
                        <td>
                            15/04
                        </td>
                     <td>
                            3H30
                        </td>
                        <td>
                            Concentração
                        </td>
                        <td>
                            Execução de sequências de 21 hinos, sentados ao redor da mesa. Faz-se uma pausa de pelo menos 1 hora na sequencia de hinos para a prática da concentração, feita de luz apagada e em completo silêncio.
                        </td>
                        <td>
                            Azul
                        </td>
                    </tr>
                    <tr class>
                        <td>
                            30/04
                        </td>
                     <td>
                            4H00
                        </td>
                        <td>
                            Concentração
                        </td>
                        <td>
                            Execução do Hinário <b>"Amor Divino"</b> de Seu Antônio Gomes em comemoração ao seu aniversário de nascimento. Faz-se uma pausa de pelo menos 1 hora para a prática da concentração, feita de luz apagada e em completo silêncio. No retorno da concentração, continua-se a sequência com bailado em prol do aniversariante.
                        </td>
                        <td>
                            Azul
                        </td>
                    </tr>

                </tbody>
            </table>


            </div>

            <div>
            <h3 class="text-center customheader">MAIO</h3>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            DATA
                        </th>
                        <th>
                            DURAÇÃO
                        </th>
                        <th>
                            TRABALHO
                        </th>
                        <th>
                            DESCRIÇÃO
                        </th>
                        <th>
                            FARDA
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            09/05
                        </td>
                        <td>
                            04h00
                        </td>
                        <td>
                            Dia das Mães (Sábado para Domingo)
                        </td>
                        <td>
                            Bailado com os hinários das Mad. Percília e Mad. Peregrina.
                        </td>
                        <td>
                            Azul
                        </td>
                    </tr>
                    <tr class>
                        <td>
                            15/05
                        </td>
                        <td>
                            3H30
                        </td>
                        <td>
                            Concentração
                        </td>
                        <td>
                            Execução de sequências de 21 hinos, sentados ao redor da mesa. Faz-se uma pausa de pelo menos 1 hora na sequencia de hinos para a prática da concentração, feita de luz apagada e em completo silêncio.
                        </td>
                        <td>
                            Azul
                        </td>
                    </tr>
                    <tr class>
                        <td>
                            30/05
                        </td>
                        <td>
                            04H:00
                        </td>
                        <td>
                            Concentração
                        </td>
                        <td>
                            Execução do Hinário <b>"Sóis Baliza"</b> do Seu Germano Guilherme em comemoração ao seu aniversário de nascimento. Faz-se uma pausa de pelo menos 1 hora para a prática da concentração, feita de luz apagada e em completo silêncio. No retorno da concentração, continua-se a sequência com bailado em prol do aniversariante.
                        </td>
                        <td>
                            Azul
                        </td>
                    </tr>

                </tbody>
            </table>



            </div>

            <div>
            <h3 class="text-center customheader">JUNHO</h3>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            DATA
                        </th>
                        <th>
                            DURAÇÃO
                        </th>
                        <th>
                            TRABALHO
                        </th>
                        <th>
                            DESCRIÇÃO
                        </th>
                        <th>
                            FARDA
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class>
                        <td>
                            15/06
                        </td>
                        <td>
                            03H:30
                        </td>
                        <td>
                            Concentração
                        </td>
                        <td>
                            Execução de sequências de 21 hinos, sentados ao redor da mesa. Faz-se uma pausa de pelo menos 1 hora na sequencia de hinos para a prática da concentração, feita de luz apagada e em completo silêncio.
                        </td>
                        <td>
                            Azul
                        </td>
                    </tr>
                    <tr>
                        <td>
                            23/06
                        </td>
                        <td>
                            08H30
                        </td>
                        <td>
                            São João
                        </td>
                        <td>
                            Executa-se o hinário <b>"Cruzeiro Universal"</b> com a Confissão e "Hinos Novos" do Mestre Irineu Serra e o "Tesouro" do Pad. Daniel Serra com bailado. Neste dia são realizados fardamentos.
                        </td>
                        <td>
                            Branca
                        </td>
                    </tr>
                    <tr class>
                        <td>
                            30/06
                        </td>
                        <td>
                            03H:30
                        </td>
                        <td>
                            Concentração
                        </td>
                        <td>
                            Execução de sequências de 21 hinos, sentados ao redor da mesa. Faz-se uma pausa de pelo menos 1 hora na sequencia de hinos para a prática da concentração, feita de luz apagada e em completo silêncio.
                        </td>
                        <td>
                            Azul
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>


            <div>
            <h3 class="text-center customheader">JULHO</h3>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            DATA
                        </th>
                        <th>
                            DURAÇÃO
                        </th>
                        <th>
                            TRABALHO
                        </th>
                        <th>
                            DESCRIÇÃO
                        </th>
                        <th>
                            FARDA
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            05/07
                        </td>
                        <td>
                            10H00
                        </td>
                        <td>
                            Trabalho Aniversário de Passagem do Mestre Irineu
                        </td>
                        <td>
                            Executa-se o hinário <b>"Cruzeiro Universal"</b> e <b>"Hinos Novos"</b> do Mestre Irineu Serra e o <b>"Tesouro"</b> do Pad. Daniel Serra, sentados e sem a Vivas. Realiza-se a Missa entre a 1ª e a 2ª parte do hinário
                        </td>
                        <td>
                            Branca
                        </td>
                    </tr>
                    <tr class>
                        <td>
                            15/07
                        </td>
                        <td>
                            03H:30
                        </td>
                        <td>
                            Concentração
                        </td>
                        <td>
                            Execução de sequências de 21 hinos, sentados ao redor da mesa. Faz-se uma pausa de pelo menos 1 hora na sequencia de hinos para a prática da concentração, feita de luz apagada e em completo silêncio.
                        </td>
                        <td>
                            Azul
                        </td>
                    </tr>

                    <tr class>
                        <td>
                            30/07
                        </td>
                        <td>
                            03H:30
                        </td>
                        <td>
                            Concentração
                        </td>
                        <td>
                            Execução de sequências de 21 hinos, sentados ao redor da mesa. Faz-se uma pausa de pelo menos 1 hora na sequencia de hinos para a prática da concentração, feita de luz apagada e em completo silêncio.
                        </td>
                        <td>
                            Azul
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


            <div>
            <h3 class="text-center customheader">AGOSTO</h3>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            DATA
                        </th>
                        <th>
                            DURAÇÃO
                        </th>
                        <th>
                            TRABALHO
                        </th>
                        <th>
                            DESCRIÇÃO
                        </th>
                        <th>
                            FARDA
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <td>
                        08/08
                    </td>

                    <td>
                            04H:00
                        </td>
                        <td>
                            Dia dos Pais (Sábado para Domingo)
                        </td>
                        <td>
                            Bailado do hinário de um dos Companheiros.
                        </td>
                        <td>
                            Azul
                        </td>
                    <tr>
                        <td>
                            15/08
                        </td>
                        <td>
                            03H:30
                        </td>
                        <td>
                            Concentração
                        </td>
                        <td>
                            Execução de sequências de 21 hinos, sentados ao redor da mesa. Faz-se uma pausa de pelo menos 1 hora na sequencia de hinos para a prática da concentração, feita de luz apagada e em completo silêncio.
                        </td>
                        <td>
                            Azul
                        </td>
                    </tr>

                    <tr class>
                        <td>
                            30/08
                        </td>
                        <td>
                            03H:30
                        </td>
                        <td>
                            Concentração
                        </td>
                        <td>
                            Execução de sequências de 21 hinos, sentados ao redor da mesa. Faz-se uma pausa de pelo menos 1 hora na sequencia de hinos para a prática da concentração, feita de luz apagada e em completo silêncio.
                        </td>
                        <td>
                            Azul
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>

                    <div>
            <h3 class="text-center customheader">SETEMBRO</h3>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            DATA
                        </th>
                        <th>
                            DURAÇÃO
                        </th>
                        <th>
                            TRABALHO
                        </th>
                        <th>
                            DESCRIÇÃO
                        </th>
                        <th>
                            FARDA
                        </th>
                    </tr>
                </thead>
                <tbody>
                        <td>
                            15/09
                        </td>
                        <td>
                            03H:30
                        </td>
                        <td>
                            Concentração
                        </td>
                        <td>
                            Execução de sequências de 21 hinos, sentados ao redor da mesa. Faz-se uma pausa de pelo menos 1 hora na sequencia de hinos para a prática da concentração, feita de luz apagada e em completo silêncio.
                        </td>
                        <td>
                            Azul
                        </td>
                    </tr>

                    <tr class>
                        <td>
                            30/09
                        </td>
                        <td>
                            04H:00
                        </td>
                        <td>
                            Concentração
                        </td>
                        <td>
                            Execução do Hinário <b>"Seis de Janeiro"</b> do Seu João Pereira em comemoração ao seu aniversário de nascimento. Faz-se uma pausa de pelo menos 1 hora para a prática da concentração, feita de luz apagada e em completo silêncio. No retorno da concentração, continua-se a sequência com bailado em prol do aniversariante.
                        </td>
                        <td>
                            Azul
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>


        <div>
            <h3 class="text-center customheader">OUTUBRO</h3>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            DATA
                        </th>
                        <th>
                            DURAÇÃO
                        </th>
                        <th>
                            TRABALHO
                        </th>
                        <th>
                            DESCRIÇÃO
                        </th>
                        <th>
                            FARDA
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            15/10
                        </td>
                        <td>
                            03H:30
                        </td>
                        <td>
                            Concentração
                        </td>
                        <td>
                            Execução de sequências de 21 hinos, sentados ao redor da mesa. Faz-se uma pausa de pelo menos 1 hora na sequencia de hinos para a prática da concentração, feita de luz apagada e em completo silêncio.
                        </td>
                        <td>
                            Azul
                        </td>
                    </tr>

                    <tr>
                    <td>
                        18/10
                    </td>

                    <td>
                            04H:00
                        </td>
                        <td>
                            Aniversário de Passagem do Pad. Daniel Serra
                        </td>
                        <td>
                            Executa-se o hinário "Cruzeiro Universal" e "Hinos Novos" do Mestre Irineu Serra e o "Tesouro" do Pad. Daniel Serra, sentados e sem a Vivas. Realiza-se a Missa após a execução dos hinários.
                        </td>
                        <td>
                            Branca
                        </td>
                    </tr>

                    <tr class>
                        <td>
                            30/08
                        </td>
                        <td>
                            03H:30
                        </td>
                        <td>
                            Concentração
                        </td>
                        <td>
                            Execução de sequências de 21 hinos, sentados ao redor da mesa. Faz-se uma pausa de pelo menos 1 hora na sequencia de hinos para a prática da concentração, feita de luz apagada e em completo silêncio.
                        </td>
                        <td>
                            Azul
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>

                <div>
            <h3 class="text-center customheader">NOVEMBRO</h3>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            DATA
                        </th>
                        <th>
                            DURAÇÃO
                        </th>
                        <th>
                            TRABALHO
                        </th>
                        <th>
                            DESCRIÇÃO
                        </th>
                        <th>
                            FARDA
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <td>
                        01/11
                    </td>

                    <td>
                            06H:00
                        </td>
                        <td>
                            Finados
                        </td>
                        <td>
                            Executa-se hinário de dois Companheiros em sequência com realização de missa após o hinário, definido pela direção da Casa.
                        </td>
                        <td>
                            Azul
                        </td>
                    <tr>
                        <td>
                            15/11
                        </td>
                        <td>
                            03H:30
                        </td>
                        <td>
                            Concentração
                        </td>
                        <td>
                            Execução de sequências de 21 hinos, sentados ao redor da mesa. Faz-se uma pausa de pelo menos 1 hora na sequencia de hinos para a prática da concentração, feita de luz apagada e em completo silêncio.
                        </td>
                        <td>
                            Azul
                        </td>
                    </tr>

                    <tr class>
                        <td>
                            30/11
                        </td>
                        <td>
                            04H:00
                        </td>
                        <td>
                            Concentração
                        </td>
                        <td>
                            Execução do Hinário "Mensageiro" da Srª. Maria Marques (Maria Damião) em comemoração ao seu aniversário de nascimento. Faz-se uma pausa de pelo menos 1 hora para a prática da concentração, feita de luz apagada e em completo silêncio. No retorno da concentração, continua-se a sequência com bailado em prol do aniversariante.
                        </td>
                        <td>
                            Azul
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>

        <div>
            <h3 class="text-center customheader">DEZEMBRO</h3>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            DATA
                        </th>
                        <th>
                            DURAÇÃO
                        </th>
                        <th>
                            TRABALHO
                        </th>
                        <th>
                            DESCRIÇÃO
                        </th>
                        <th>
                            FARDA
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <td>
                        07/12
                    </td>

                    <td>
                            08H:00
                        </td>
                        <td>
                            Nossa Srª da Conceição
                        </td>
                        <td>
                            Executa-se o hinário "Cruzeiro Universal" com a Confissão e "Hinos Novos" do Mestre Irineu Serra e o "Tesouro" do Pad. Daniel Serra com bailado. Dia em que é possível ser realizados fardamentos.
                        </td>
                        <td>
                            Branca
                        </td>
                    <tr>
                        <td>
                            14/12
                        </td>
                        <td>
                            08H:00
                        </td>
                        <td>
                            Comemoração do Aniversário de Nascimento do Mestre Irineu Serra
                        </td>
                        <td>
                           Executa-se o hinário "Cruzeiro Universal" e "Hinos Novos" do Mestre Irineu Serra e o "Tesouro" do Pad. Daniel Serra com bailado.
                        </td>
                        <td>
                            Branca
                        </td>
                    </tr>

                    <tr class>
                        <td>
                            24/12
                        </td>
                        <td>
                            08H:00
                        </td>
                        <td>
                            Natal
                        </td>
                        <td>
                            Executa-se o hinário "Cruzeiro Universal" e "Hinos Novos" do Mestre Irineu Serra e o "Tesouro" do Pad. Daniel Serra com bailado. Trabalho realizado durante do dia, iniciando-se às 9h.
                        </td>
                        <td>
                            Branca
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
<br /> <br />
        <div>
            <h3 class="text-center customheader">OUTROS TRABALHOS</h3>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            DATA
                        </th>
                        <th>
                            DURAÇÃO
                        </th>
                        <th>
                            TRABALHO
                        </th>
                        <th>
                            DESCRIÇÃO
                        </th>
                        <th>
                            FARDA
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <td>
                        1º Segunda-Feira do Mês
                    </td>

                    <td>
                            03H:00
                        </td>
                        <td>
                            Missa
                        </td>
                        <td>
                            Execução da sequência de hinos "Santa Missa" e hino das Almas em prol dos que já fizeram a passagem.
                        </td>
                        <td>
                            Azul
                        </td>
                    <tr>
                        <td>
                            À combinar
                        </td>
                        <td>
                            Variável
                        </td>
                        <td>
                            Trabalho de Mulheres
                        </td>
                        <td>
                           Trabalho dedicado ao desenvolvimento do Sagrado Feminino, com liturgia variável à critério da coordenação do trabalho
                        </td>
                        <td>
                            Roupas Claras
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
</div>
<!-- FIM CALENDÀRIO -->
