<div class="container" id="comments">
  <h1 class="customheader text-center">Entre em Contato</h1><br>
  <hr><br>

        <div class="row">
            <form role="form">
                <div>
                    <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span> Campo Requerido</strong></div>
                    <div class="form-group">
                        <label for="InputName">Nome</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Nome" required>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="InputEmail">E-mail</label>
                        <div class="input-group">
                            <input type="email" class="form-control" id="InputEmailFirst" name="InputEmail" placeholder="e-mail" required>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="InputMessage">Mensagem</label>
                        <div class="input-group">
                            <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>
                    <input type="submit" name="submit" id="submit" value="Enviar" class="btn btn-info pull-right">
                </div>
            </form>
        </div>
</div>
<br>
