
<!-- INICIO CALENDÀRIO -->
	<h3 class="text-center customheader color-home home_title">
		 <b>CALENDÁRIO</b>
	</h3>
			<table class="table">
				<thead>
					<tr>
						<th>
							DATA
						</th>
						<th>
							HORÁRIO
						</th>
						<th>
							TRABALHO
						</th>
						<th>
							HINÁRIO
						</th>
						<th>
							FARDA
						</th>
					</tr>
				</thead>
				<tbody>
          <tr>
            <td>
                15/03/16 - TER
            </td>
            <td>
                20:00
            </td>
            <td>
                Concentração
            </td>
            <td>
                -
            </td>
            <td>
                Farda Azul
            </td>
          </tr>

          <tr>
              <td>
                  18/03/16 - SEX
              </td>
              <td>
                  20:00
              </td>
              <td>
                  Abertura Festival
              </td>
              <td>
                  Germano Guilherme
              </td>
              <td>
                  Farda Azul
              </td>
          </tr>
          <tr class>
              <td>
                  19/03/16 - SAB
              </td>
              <td>
                  20:00
              </td>
              <td>
                  Fernando Guanabara (CE)
              </td>
              <td>
                  Caminho da Verdade
              </td>
              <td>
                  Farda Azul
              </td>
          </tr>
          <tr class>
              <td>
                  20/03/16 - DOM
              </td>
              <td>
                  20:00
              </td>
              <td>
                  Orestes Teixeira / Nação Tutumbaiê
              </td>
              <td>
                  São Jorge
              </td>
              <td>
                  Roupas Claras
              </td>
          </tr>
          <tr class="success">
              <td>
                  23/03/16 - QUA
              </td>
              <td>
                  20:00
              </td>
              <td>
                Cerimônia Xamanica com medicinas
              </td>
              <td>
                Hijos de la Tierra - Uruguay
              </td>
              <td>
                Roupas Claras
              </td>
          </tr>

          <tr class>
              <td>
                  24/03/16 - QUI
              </td>
              <td>
                  20:00
              </td>
              <td>
                  Estrela Brilhante
              </td>
              <td>
                  Maria Damião - O Mensageiro
              </td>
              <td>
                  Farda Azul
              </td>
          </tr>

          <tr class>
              <td>
                  25/03/16 - SEX
              </td>
              <td>
                  20:00
              </td>
              <td>
                  Madrinha Conceição
              </td>
              <td>
                -
              </td>
              <td>
                  -
              </td>
          </tr>
          <tr class>
              <td>
                  26/03/16 - SAB
              </td>
              <td>
                16:00
              </td>
              <td>
                Estrela Brilhante
              </td>
              <td>
                  O Cruzeiro Universal
              </td>
              <td>
                  Farda Branca
              </td>
          </tr>
				</tbody>
			</table>
<!-- FIM CALENDÀRIO -->
<br>
<div class="text-center">
	<a href="https://docs.google.com/forms/d/1C4BnybKwk10XMJ12KorgA6ZX7zoCvW_HLGZsL0s4UTc/viewform"> >>> Inscreva-se no festival aqui <<<</a>
</div>
<hr>
<!--<div class="jumbotron">
  <h1>Visitantes</h1>
  <p class="lead">
    Orientações para visitantes
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>-->
<div class="">
	<!-- GOOGLE MAP -->
	<aside class="call-to-action local">
	      <div class="container">
	         <div class="row">
	            <div class="col-lg-12 text-center">
	                <h3 class="color-home home_title"><b>LOCALIZAÇÃO</b></h3>
	              </div>
	        </div>
	    </div>
	</aside>


	<section id="contact" class="map">
	    <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3985.8561686986664!2d-44.13684299999999!3d-2.5536570000000003!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7f6970bd62e102d%3A0x28fb0558ee81a391!2sEstrela+Brilhante+(CICEBRIS)!5e0!3m2!1spt-BR!2sbr!4v1413091720936"></iframe>
	    <br />
	      <small>
	          <a href="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3985.8561686986664!2d-44.13684299999999!3d-2.5536570000000003!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7f6970bd62e102d%3A0x28fb0558ee81a391!2sEstrela+Brilhante+(CICEBRIS)!5e0!3m2!1spt-BR!2sbr!4v1413091720936"></a>
	      </small>
	    </iframe>
	</section>
	<!-- END OF MAP-->
</div>
<div class="text-center">
  <h3 class="text-center customheader color-home home_title">
     <b>VISITANTES</b>
  </h3>
	<hr>

	<h4 data-toggle="collapse" data-target="#comochegar"><a href="" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-map-marker"></span> Como Chegar?</a></h4>
  <p id="comochegar" class="collapse">
    Passado o bairro do Maiobão, seguir em direção à São José de Ribamar, logo que passar pela escola municipal Gomes Sousa (lado direito), ficar atento à placa no poste com os dizeres "Estrela Brilhante", avisando para virar à esquerda.
    Depois, seguindo por uma estrada de terra ladeada por um campo de futebol, acompanhe as estrelas colocadas nos postes de eletricidade pelo caminho.
    Chegando a uma encruzilhada virar para a esquerda novamente.
    Depois seguir direto e dar de frente com um grande portão verde com a bandeira do daime (águia sobre uma lua crescente branca).
  </p>
  <h4 data-toggle="collapse" data-target="#participar"><a href="" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-question-sign"></span> Como Participar?</a></h4>
  <div id="participar" class="collapse">
		<p>
			Para participar dos trabalhos espirituais do Santo Daime, é necessário uma preparação. Devem ser feitos jejum sexual, e de carnes vermelhas, priorizando comidas leves e uma alimentação saudável pelo menos três dias antes do dia do trabalho. Também não se deve consumir nenhum tipo de bebida alcoólica neste mesmo período.
		</p>
		<p>
			Para maior aproveitamento dos benefícios do Santo Daime, nos três dias seguintes ao trabalho a mesma dieta deve ser feita novamente. Todos que participam do ritual devem seguir esta dieta.
		</p>
		<p>
			As roupas usadas no trabalho também merecem atenção. Não é permitido o uso de roupas pretas e vermelhas, sendo mais apropriado roupas leves, e de cores claras. As mulheres devem usar saia no comprimento abaixo do joelho, blusas sem decotes, sem transparência, cobrindo barriga e ombros. Os homens devem usar calça comprida e blusa ou camisa com mangas.
		</p>
		<p>
			Após feita esta prévia, o iniciante ao chegar à Igreja, pelo menos meia-hora antes do trabalho, deve se apresentar na secretaria da mesma para preencher o termo de responsabilidade e receber outras informações sobre o trabalho do dia e conduta adotada no ritual. Os menores de idade devem ter autorização dos pais.
		</p>
		<p>
			A Estrela Brilhante é uma instituição religiosa filantrópica sem fins lucrativos mantida por doações. Recebemos muitos visitantes, a demanda é grande e a cada vez cresce mais. Para manutenção geral da igreja, pagamento das contas e funcionários é solicitado a todos uma contribuição financeira.
		</p>
  </div>


<h4 data-target="#largeModal"><a href="" data-toggle="modal" data-target="#largeModal"  class="btn btn-info btn-xs"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Recomendações/Restrições</a></h4>






	<!-- JANELA MODAL -->



			<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
				  <div class="modal-dialog modal-lg">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				        <h3 class="modal-title text-center" id="myModalLabel">Recomendações/Restrições<br />para participação nos Trabalhos do Daime</h3>
				      </div>
				      <div class="modal-body">
						<h4 class="text-center">"QUEM VIER, E DE ONDE VIER QUE VENHA EM PAZ"</h4>
				      	<p><h4>Prezado(a), Visitante</h4></p>
				        <p>Abaixo, seguem algumas recomendações/restrições para participação nos trabalhos espirituais que envolvem o sacramento do Daime. Por favor, leia com bastante atenção estas instruções para que sua preparação seja adequada.</p>


						<p>Todos os visitantes deverão preencher e enviar o formulário <a href="views/anamnese/index.html" target="_blank">ficha de anamnese</a>, disponibilizado através do link no final desta página. </p>

						<p> As entrevistas serão agendadas mediante o envio da <a href="views/anamnese/index.html" target="_blank">ficha de anamnese</a>, que deverá ser impressa e devidamente assinada.</p>

						<p>Todos os visitantes deverão apresentar documento de identificação oficial com foto (Carteira de Identidade). Aqueles que forem menores de idade (menores de 18 anos) deverão levar <a href="arq/autorizacao.pdf">autorização dos pais</a>, ou responsáveis legais, devidamente assinada por estes, bem como cópia da Carteira de Identidade dos mesmos. Abaixo sugerimos um modelo de <a href="arq/autorizacao.pdf">autorização de menores de idade</a> para preenchimento.</p>

						<p>Agradecemos a compreensão de todos.</p>

						<p>Paz, Luz e Bem.</p>
				        <hr>

				        <p><h4>COMO CHEGAR?</h4></p>

						<p>Passado o bairro do Maiobão, seguir em direção à São José de Ribamar, logo que passar pela escola municipal Gomes Sousa (lado direito), ficar atento à placa no poste com os dizeres "Estrela Brilhante", avisando para virar à esquerda. Depois, seguindo por uma estrada de terra ladeada por um campo de futebol, acompanhe as estrelas colocadas nos postes de eletricidade pelo caminho. Chegando a uma encruzilhada virar para a esquerda novamente. Depois seguir direto e dar de frente com um grande portão verde com a bandeira do daime (águia sobre uma lua crescente branca).</p>
						<br>
						<p><h4>CONTRIBUIÇÃO:</h4></p>
						<p>Sugerimos a todos participantes do trabalho a contribuição de <u>R$ 30,00</u> (trinta reais).</p>
						<p><h4>SUGERIMOS AOS VISITANTES TAMBÉM:</h4></p>

						<p>Papel higiênico para uso no trabalho, velas comuns (de preferência grandes) e/ou Incenso como forma de doação à Casa.</p>
						<hr>

						<p><h4>ROUPAS QUE DEVERÃO USAR:</h4></p>

						<p>Nossa Instituição realiza trabalho espiritual com respeito e seriedade, por isso, solicitamos humildemente aos visitantes que estejam vestidos adequadamente para participar de nossa celebração.</p>
						<ul>
						<li><p><b>MULHERES:</b> roupas brancas (não transparentes), vestido ou saia abaixo do joelho, blusa sem decote e sem deixar a barriga aparecer.</p></li>

						<li><p><b>HOMENS:</b> roupas brancas (não transparentes), calça comprida de cor clara(não é permitido o uso de bermudas na igreja).</p></li>
						</ul><br />

						<p><h4>DIETA:</h4></p>

						<p>É muito importante uma preparação prévia para o trabalho. Tradicionalmente, considera-se que se deve evitar comidas fortes, bebidas alcoólicas, drogas ilícitas e sexo por pelo menos 03 (três) dias antes do trabalho e no dia do trabalho fazer alimentação bem leve. A pessoa que fizer uso de medicamento controlado, no caso de antidepressivos, deverá suspender seu uso pelo menos 02 (dois) dias antes do trabalho. O daime não é indicado para quem sofre de transtornos personalidade tais como esquizofrenia, psicose etc. Nenhum tipo de medicamento alopático deve ser utilizado associado ao daime durante as sessões.</p><br />


						<p><h4>DURAÇÃO MÉDIA DO TRABALHO:</h4> 02H30min - 03H30min</p>
						<p>Tendo em vista que o tempo da sessão é variável e depende do trabalho a ser realizado no dia, sugerimos que você observe nossa programação para identificar qual trabalho será realizado no dia. Sendo assim, a pessoa que se predispõe a participar de um trabalho espiritual com o sacramento do Daime deve estar ciente de que deverá permanecer no local até o encerramento da sessão.</p>
						<hr>

						<p><h4>OUTRAS RECOMENDAÇÕES:</h4></p>
						<ul>
							<li>Manter boa conduta, evitando más ações, palavras e pensamentos;</li>
							<li>Agir com respeito e educação com todos os irmãos;</li>
							<li>Manter o local limpo e organizado;</li>
							<li>Respeitar os direcionamentos dados pelos dirigentes e/ou fiscais;</li>
							<li>É vedado o uso de armas, bebidas alcoólicas ou qualquer tipo de drogas ilícitas nas dependências da Igreja;</li>
						</ul>

						<hr>

						<center><p><b>CONTATOS PARA MARCAÇÃO DA ENTREVISTA:</b></p> +55 (98) 3237-1685<br>
						 -- <br>
						+55 (98) 98256-3522 (Tim)<br>
						+55 (98) 98402-7735 (Claro)<br></p>
						<hr>
						<p><b><a href="views/anamnese/index.html" target="_blank">CLIQUE AQUI PREENCHER A FICHA DE ANAMNESE</a></b></p>
						<p><b><a href="arq/autorizacao.pdf">CLIQUE AQUI PARA FAZER O DOWNLOAD DA AUTORIZAÇÃO DE PAIS OU RESPONSÁVEIS (para menores de 18 anos)</a></b></p>

						</center>










				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
				      </div>
				    </div>
				  </div>
				</div>






			<!-- FIM  JANELA MODAL -->






















</div>
<br>
