<div class="container">
<h1 class="text-center">Sobre</h1><br>
<hr><br>

	<h3>O Santo Daime</h3><br />
		<p>O Santo Daime é uma manifestação religiosa surgida em plena região amazônica nas primeiras décadas do século XX. Consiste em uma doutrina espiritualista que tem como base o uso sacramental de uma bebida enteógena (para os cientistas, uma droga psicodélica), o ayahuasca, com o fim de catalisar processos interiores e espirituais sempre com o objetivo de cura e bem estar do indivíduo. </p>

		<p>A doutrina não possui proselitismo, sendo a pratica espiritual essencialmente individual, sendo o autoconhecimento e internalização os meios de obter sabedoria. Segundo seus adeptos, a doutrina do Santo Daime é uma missão espiritual cristã , que encaminha os seus praticantes ao perdão e a regeneração do seu ser. Isto acontece porque o daimista, ao participar dos cultos e ingerir o Santo Daime inicia um processo de auto conhecimento, que visa corrigir os defeitos e melhorar-se sempre, para que possa um dia alcançar a perfeição. Nos rituais sempre há uma forte presença musical. São sempre cantados hinos religiosos e são usados maracás, um instrumento indígena ancestral, na maioria dos locais de culto.</p>

		<p>Surgiu no estado brasileiro do Acre, no início do século XX, tendo como fundador o lavrador e descendente de escravos Raimundo Irineu Serra, que passou a ser chamado dentro da Doutrina e por todos que o conheciam como Mestre Irineu. Após conhecer a bebida sacramental chamada de ayahuasca pelos nativos da região Amazônica, Irineu Serra teve uma visão de características mariana, em que um ser espiritual superior lhe entrega a missão do Santo Daime.</p>

	<h3>História</h3>
		<p>Raimundo Irineu Serra nasceu em São Vicente Ferrer, no Estado do Maranhão em 1892. No final da primeira década do século, embarcou para o então Território do Acre para trabalhar nos seringais, onde se estabeleceu próximo à cidade de Brasiléia, na fronteira com a Bolívia. Foi ali que Raimundo Irineu Serra, conhecido pelos discípulos como Mestre Irineu, teve sua iniciação com a ayahuasca (um dos muitos nomes da beberagem), recebendo a missão de uma entidade feminina associada com a Virgem Maria (Virgem da Conceição ou Rainha da Floresta) de expandir a doutrina e utilizar todo o conhecimento nela inserida para a cura.</p>

		<p>Mestre Irineu não inventou a ayahuasca, foi apenas responsável pela cristianização do seu uso, rebatizando a bebida a partir do rogativo "Dai-me Amor", "Dai-me Firmeza", etc. A nova religião mesclou elementos culturais diversos como as tradições caboclas e xamânicas, o catolicismo popular, o esoterismo e tradições afro-brasileiras.</p>

		<p>Na década de 1930 inicia seus trabalhos espirituais com um pequeno grupo de seguidores nos arredores de Rio Branco e, com o passar dos anos, viu esse grupo aumentar em tamanho e importância no cenário acreano. Raimundo Irineu Serra faleceu em 6 de julho de 1971. Após seu falecimento, houve dissidências, sendo a mais famosa, a liderada por Sebastião Mota de Melo, responsável pela expansão da Doutrina para outros estados e países a partir do início da década de 1980[6].</p>

		<p>Em 2006, estimava-se em aproximadamente 10.000[carece de fontes?] os seguidores dessa doutrina no Brasil e no mundo. Há centros legalmente instituídos em quase todos os estados brasileiros e em países como Espanha e Países Baixos, além de grupos que celebram os cultos em países como Estados Unidos, Canadá, Japão, Argentina, Chile, Uruguai, Venezuela e Portuga.</p>

		<p>A doutrina ficou então dividida em duas vertentes principais:</p>

		<p>O Centro de Iluminação Cristã Luz Universal (CICLU) - Alto Santo - dirigido pela viúva do mestre, Peregrina Gomes Serra.</p>

		<p>O CEFLURIS, fundado pelo Sebastião Mota de Melo, natural de Eirunepé, Amazonas. O Centro Eclético de Fluente Luz Universal Raimundo Irineu Serra (CEFLURIS) foi registrado em 1974, com sede na cidade do Rio Branco, como um centro espírita estruturado sob a forma de sociedade religiosa sem fins lucrativos, responsável pela organização da Doutrina e pela feitura e distribuição da bebida sacramental utilizada nos rituais.</p>

		<p>Inúmeros centros independentes ou não diretamente ligados ao CICLU ou ao CEFLURIS surgiram após a expansão para o resto do país. Um dos mais recentes desdobramentos desta expansão é o surgimento de centros independentes, que promovem sincretismos com a Umbanda, O Espiritismo, o Hinduísmo.</p>

		<p>A discussão sobre o uso ritual de substâncias psicoativas como a ayahuasca vem sendo discutida em vários países. No Brasil, o CONAD (Conselho Nacional Antidrogas) do Brasil, retirou a ayahuasca da lista de drogas alucinógenas conforme portaria publicada no Diário Oficial da União em 10/11/2004, permitindo o uso ritual.</p>
</div>
 <hr>
