<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>

<body>
	<div class-"container">
		<div class="container">
			<div class="row page-header text-center">
                <a href="http://www.estrelabrilhante.org/"><img src="img/logo.png"></a><br></br>
			</div>


			<div id="ficha" class="">
								<center><p> <b>Prezado Visitante,
				O CICEBRIS agradece  o preenchimento do formulário, porém para finalizar o processo entre em contato com os telefones abaixo:
				</b></p> <br>
										+55 (98) 3237-1685<br>
										 -- <br>
										+55 (98) 98256-3522 (Tim)<br>
										+55 (98) 98402-7735 (Claro)<br></p>
										<hr>

										</center>
            </div>


		</div>
	</div>
</body>
